:root {
  --primaryColor: #202225;
  /*dark grey*/
  --primaryColorLight: #323334;
  /*lighter dark grey*/
  --secondaryColor: #ceccca;
  /*light grey*/
  --accentColor: #FFD700;
  /*powerful yellow for highlights*/
}

@font-face {
  font-family: 'Bahnschrift';
  src: url(./fonts/BAHNSCHRIFT.TTF);
}

html {
  background-color: var(--primaryColorLight);
  color: var(--secondaryColor);
  font-family: 'Bahnschrift', semi-bold;
}

body {
  margin: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header {
  background-color: var(--primaryColor);
  padding: 1vw;
  height: 4vh;
}

.content {
  text-align: center;
}

.footer {
  background-color: var(--primaryColor);
  text-align: center;
  padding: 1vw;
}

.logo{
  height: inherit;
  border-style: solid;
  border-block: var(--secondaryColor);
  border-width: thin;
  padding: 1vw;
}

.navigation {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: start;
  flex-wrap: nowrap;
  flex-direction: row;
  min-width: max-content;
}

.navLink {
  padding-inline: 2vw;
  text-decoration: none;
}

.navLogo{
  height: inherit;
}

#navigationLogo{
  height: inherit;
}

a {
  color: var(--secondaryColor);
  text-decoration: inherit;
}
a:hover {
  color: var(--accentColor);
}